a {
  font-size: 24px;
}

p {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 24px;
}

h3 {
  font-size: 28px;
}

h2 {
  font-size: 32px;
}

h1 {
  font-size: 34px;
}

code {
  font-size: 20px;
}

.code-block {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto; /* Adds a scrollbar if the code is too wide */
}

.api-spacer {
  width = 100%;
  height: 4vh;
}

